<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- Log folder path -->
        <Property name="LOG_PATH">./logs</Property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- ===== Console Appender ===== -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- ===== Rolling File Appender ===== -->
        <RollingFile name="FileLogger"
                     fileName="${LOG_PATH}/revpay.log"
                     filePattern="${LOG_PATH}/revpay-%d{yyyy-MM-dd}.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Your application package -->
        <Logger name="com.example.revpay_p2" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Root logger (fallback) -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>
